<div class="row">
  <div class="col-lg-6">
    <h2>{{ accion }} Empleado</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <form [formGroup]="myForm" autocomplete="off">
      <div class="form-group">
        <input class="form-control" placeholder="Nombre" formControlName="nombreCompleto">
        <div *ngIf="myForm.controls['correo'].errors?.required">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
        <div *ngIf="myForm.controls['correo'].errors?.maxLength">
          <span class="mda-form-msg">El campo debe tener como maximo <strong> 20 caracteres</strong></span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <input class="form-control" placeholder="Correo" formControlName="correo">
        <div *ngIf="myForm.controls['correo'].errors?.required">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <input class="form-control" placeholder="Fecha de Ingreso" type="date" formControlName="fechaIngreso">
        <div *ngIf="myForm.controls['fechaIngreso'].errors?.required">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <input class="form-control" placeholder="Teléfono" type="number" formControlName="telefono">
        <div *ngIf="myForm.controls['telefono'].errors?.required">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <select class="form-control" placeholder="Estado Civil" formControlName="estadoCivil">
          <option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
            {{ estadoCivil }}
          </option>
        </select>
        <div *ngIf="myForm.controls['estadoCivil'].errors?.required">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <select class="form-control" placeholder="Sexo" formControlName="sexo">
          <option>Femenino</option>
          <option>Masculino</option>
        </select>
        <div *ngIf="myForm.controls['sexo'].errors?.required">
          <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
        </div>
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-success btn-lg float-right" [disabled]="myForm.invalid" type="button"
          style="margin-left: 10px;" (click)="guardarEmpleado()">Aceptar</button>
        <button class="btn btn-secondary btn-lg float-right" routerLink="/empleados" type="button">Cancelar</button>
      </div>
    </form>
  </div>
  <div class="col-sm">
    <img src="../../../assets/img/crear-usuario.jpg" alt="" width="95%" height="95%">
  </div>
</div>
