<div class="container">
  <h2 class="text-center fontTitle">Empleados</h2>

  <button class="btn btn-primary" routerLink="/agregarEmpleado">Agregar</button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Correo</th>
        <th scope="col">Estado Civil</th>
        <th scope="col">Fecha Ingreso</th>
        <th scope="col">Sexo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listEmpleado; index as i">
        <td scope="col">{{item.nombreCompleto}}</td>
        <td scope="col">{{item.correo}}</td>
        <td scope="col">{{item.estadoCivil}}</td>
        <td scope="col">{{item.fechaIngreso | date}}</td>
        <td scope="col">{{item.sexo}}</td>
        <td scope="col">{{item.telefono}}</td>
        <td scope="col">
          <button routerLink="/editarEmpleado/{{i}}" class="btn btn-warning">Editar</button>
          <button (click)="eliminarEmpleado(i)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
