<div class="row mt-5">
  <div class="col-lg-6 offset-lg-3">
      <h2 class="text-center fontTitle">Seleccione</h2>
      <div class="card">
          <div class="card-body">
              <button class="btn btn-secondary btn-lg btn-block mt-2" routerLink="/ingresarPresupuesto">Presupuesto</button>
              <button class="btn btn-secondary btn-lg btn-block mt-2" routerLink="/empleados">Empelados</button>
          </div>
      </div>
  </div>
</div>
